.profile__avatar-edit {
  position: absolute;
  background-image: url(../../../images/avatar-edit-icon.svg);
  background-size: 26px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
}

.profile__avatar-edit:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
