.profile__title {
  max-width: 294px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 590px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    margin: 0 10px 4px 46px;
  }
}