.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  list-style-type: none;
  margin: 46.25px auto 66px;
  padding: 0;
}

@media screen and (max-width: 910px) {
  .elements__list {
    max-width: 581px;
  }
}

@media screen and (max-width: 590px) {
  .elements__list {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .elements__list {
    margin: 36px auto 48px;
  }
}